[user]
	email = elidenham@live.com
	name = Eli Denham
[core]
	editor = nvim
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -d $MERGED $BASE $LOCAL $REMOTE -c \"$wincmd w\" -c \"wincmd J\"
